@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;
  --background: #fff;
  --color-text: #757575;
  --default-layout-header-height: 56px;
  --default-layout-header-width: 1200px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  /* background-color: #f3eeee5e; */
}
.App {
  overflow: hidden;
}
.login {
  position: absolute;
  padding: 10px;
  width: 30%;
  background-color: #eeecec;
  top: 25%;
  left: 35%;
  border-radius: 10px;
}
.login-text {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.login-button {
  display: flex;
  justify-content: center;
}
.login-button__google {
  border-radius: 20px;
}
